{% extends 'main.html' %}
{% block content %}
<div class="container col-sm-8 mt-3">
<ul class="list-group list-group-light">

    {% for task in tasks %}
    <li class="list-group-item">
        {% if task.status %}
      <input class="form-check-input me-1" checked type="checkbox" value="" aria-label="..." />
      {% else %}
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      {% endif %}
      {{task}}

    </li>
    {% endfor %}
  </ul>
</div>
  {% endblock %}